@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

//* ------COLORS--------

$primary-color: #263238;
$secondary-color: #939393;
$background-color: #F5F5F5;
$paragraph-color: #8F95A5;

//* ------FONTS---------

$primary-font: 'Poppins';
$primary-font-weight:400;
$header-font: 'Poppins';
$header-font-weight: 600;
$paragraph-font:'Poppins';
$paragraph-font-weight:400;